/* Estilos para la galería */
.galeria {
    padding: 3rem 5%;
}

.galeria__categoria-box {
    margin-bottom: 20px;
}

.galeria__categoria-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    
}

/* Estilos para tablets y moviles*/
@media (max-width: 768px) {
    .galeria {
        padding: 2rem 3%;
      }

    .galeria__item:nth-child(n+5) {
        display: none;
      }

}

