.login__formulario {
  background: var(--color-search-bar);
  padding: 6rem 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__formulario-box{
  width: 50%;
}
 .login__button{
  margin-top: 1rem;
  width: 100%;
 }


@media (max-width: 768px) {
  .login__formulario {
    padding: 4rem 3%;
  }
  .login__formulario-box{
    width: 80%;
  }
}

/* Estilos para celulares */
@media (max-width: 480px) {

}
