/* Estilos para la sección rodapie */
.todo{
  height: 460px;
}

.rodapie {
  background-color: var(--color-rodapie);
  padding: 1rem 5%;
}

.footer {
  text-align: center;
  margin-top: 2rem;
}

/* Estilos para el contenedor principal */
.rodapie__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Estilos para el contenedor rodapie__logo__enlaces */
.rodapie__logo__enlaces {
  display: flex;
  flex-wrap: wrap;
}

/* Estilos para el logo */
.rodapie__logo img {
  width: 176px;
  height: auto;
}

/* Estilos para los enlaces */
.rodapie__enlaces {
  margin-left: 5rem;
}


.rodapie__enlaces-item {
  margin-bottom: 1.5rem;
  list-style: none;
}

.rodapie__enlaces-item a {
  text-decoration: none;
  color: var(--color-de-link);
}

/* Estilos para el formulario */
.rodapie__formulario {
  margin-top: 20px;
  width: 50%;
}


/* Estilos para tablets */
@media (max-width: 768px) {

  .rodapie {
    padding: 1rem 3%;
  }

  .rodapie__logo__enlaces {
    flex-direction: column;

  }

  .rodapie__box {
    flex-direction: row;
  }


  .rodapie__enlaces {
    margin-left: 0;
  }

  .rodapie__formulario {
    margin-top: 0;
    width: 70%;
  }
}

/* Estilos para celulares */
@media (max-width: 480px) {
  .rodapie__box {
    flex-direction: column;
    align-items: center;
  }

  .rodapie__enlaces-item {
    text-align: center;

  }

  .rodapie__formulario {
    margin-top: 20px;
    width: 100%;

  }

  .rodapie__enlaces-item,
  .rodapie__formulario-campo {
    margin-bottom: 1rem;
  }
}