.login__formulario {
  background: var(--color-search-bar);
  padding: 6rem 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__formulario-box{
  width: 50%;
}

.login__formulario-titulo {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.login__formulario-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login__formulario-campo {
  position: relative;
  padding: 15px 0 0;
  margin-top: 25px;
  width: 100%;
  background: var(--color-de-fondo);
  border-radius: 5px;
}

.login__formulario-input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgb(180, 178, 178);
  outline: 0;
  font-size: 1.3rem;
  color: var(--color-font);
  padding: 7px 0;
  transition: border-color 0.2s;
  background: transparent;
}

.login__formulario-input::placeholder {
  color: transparent;
}

.login__formulario-input:placeholder-shown~.login__formulario-label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.login__formulario-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--color-icon);
}

.login__formulario-input:focus~.login__formulario-label {
  top: 5px;
  font-size: 1rem;
  color: var(--color-azul);
  font-weight: 700;
}

.login__formulario-input:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--color-azul), var(--color-de-fondo));
  border-image-slice: 1;
}

.login__formulario-campo--invalid {
  margin-bottom: 0.5rem;
}

.login__formulario-campo--invalid .login__formulario-input,
.login__formulario-campo--invalid .login__formulario-label {
  color: var(--warning-color);
  border-bottom: 2px solid var(--warning-color);
}

.input-message-error {
  display: none;
  color: var(--warning-color);
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

.login__formulario-boton {
  background: var(--color-azul);
  border-color: var(--color-de-fondo);
  border-width: 1px;
  color: var(--color-de-fondo);
  padding: 1rem;
  width: 100%;
  margin-top: 25px;
}

.login__formulario-boton:hover {
  animation: shake 0.25s;
  cursor: pointer;
  background: var(--color-de-fondo);
  border-color: var(--color-azul);
  color: var(--color-azul);
}


@media (max-width: 768px) {
  .login__formulario {
    padding: 4rem 3%;
  }
  .login__formulario-box{
    width: 80%;
  }
}

/* Estilos para celulares */
@media (max-width: 480px) {

}
